@tailwind base;
@tailwind components;
@tailwind utilities;




@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #136BEC;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
   overflow: hidden;
  }
}

.input-box {
  @apply w-full flex items-center gap-2 sm:gap-1 md:gap-2 text-sm text-slate-800 bg-white rounded-xl md:px-4 md:py-3 px-4 py-3 sm:py-2 border border-primary/35 shadow-primary/35 focus-within:ring-2 focus-within:ring-indigo-500 shadow-sm transition-all duration-200;
}


.btn-primary{
  @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-2 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}
