@tailwind base;
@tailwind components;
@tailwind utilities;




@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #136BEC;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
   overflow: hidden;
  }
}

.input-box {
  @apply w-full flex items-center gap-2 sm:gap-1 md:gap-2 text-sm text-slate-800 bg-white rounded-xl md:px-4 md:py-3 px-4 py-3 sm:py-2 border border-primary/35 shadow-primary/35 focus-within:ring-2 focus-within:ring-indigo-500 shadow-sm transition-all duration-200;
}


.btn-primary{
  @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-2 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}

.card {
  @apply bg-white dark:bg-[#0d0d0d]/80 p-6 rounded-2xl shadow-md shadow-gray-300 dark:shadow-black/30 border border-gray-200/50 dark:border-gray-500/50;
}

.card-btn {
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 dark:text-gray-300 hover:text-primary hover:bg-purple-50 dark:hover:bg-purple-500/30 bg-gray-100 dark:bg-gray-800 px-4 py-1.5 rounded-md border border-gray-200/50 dark:border-gray-500/60 cursor-pointer;
}

.form-card {
  @apply bg-white dark:bg-[#111111] p-6 rounded-lg shadow-md shadow-gray-100 dark:shadow-black/20 border border-gray-200/50 dark:border-gray-800/50;
}

.form-input {
  @apply w-full text-sm text-black dark:text-gray-100 outline-none bg-white dark:bg-[#1a1a1a] border border-slate-200 dark:border-gray-800 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500 dark:placeholder:text-gray-400;
}




html, body, #root {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: o;
}


@keyframes spinGlowY {
  0% {
    transform: rotateY(0deg);
    box-shadow: 0 0 10px #6366f1, 0 0 20px #6366f1;
  }
  20% {
    transform: rotateY(360deg);
    box-shadow: 0 0 10px #ec4899, 0 0 20px #ec4899;
  }
  100% {
    transform: rotateY(360deg);
    box-shadow: 0 0 10px #6366f1, #7BCE00, 0 0 20px #6366f1;
  }
}

.glow-spin-y {
  animation: spinGlowY 12s linear infinite;
  transform-style: preserve-3d;
  backface-visibility: visible;
}

/* Default (light mode) */
:root {
  --scrollbar-track: #f5f5f5;
  --scrollbar-thumb: #7C3AED;
  --scrollbar-thumb-hover:#6366f1;
}

/* Dark mode */
.dark {
  --scrollbar-track: #1f1f1f;
  --scrollbar-thumb: #6366f1;       /* Tailwind amber-500 */
  --scrollbar-thumb-hover: #0d10d5; /* Tailwind amber-400 */
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
